.venv/
__pycache__/
*.pyc
tmp/
.mplconfig/
.deployment/
/本地运行说明.txt
.vs/
*.pyproj.user
data/
*.bag
*.mcap
*.db3
*.pcd
/*.pdf
output/*/
!output/step1/
!output/step2/
!output/step3/
!output/step4/
!output/step5/
!output/v2_data_check/
!output/v2_step1/
